.dashboard-container {
    position: relative;
    top: 0;
    min-height: 90.5vh;
    /* background: linear-gradient(to top, rgb(41, 198, 94), rgb(15, 82, 37)); */
  }
  
  .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
  }
  
  .background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .dashboard-content {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .dashboard-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .dashboard-header h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
  }
  
  .dashboard-header h1 span {
    color: #f1c40f;
  }
  
  .modules-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .module-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(7px);
    background-color: rgba(17, 87, 16, 0.7);
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50px;
  }
  
  .module-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.416);
  }
  
  .module-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
    object-fit: contain;
  }
  
  .module-card span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
  }
  
  @media (max-width: 768px) {
    .dashboard-content {
      padding: 1rem;
    }
    
    .modules-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    .module-card img {
    width: 60px; 
    height: 60px;
    }

    .module-card span {
      font-size: 0.8rem; 
    }
    
    .dashboard-header h1 {
      font-size: 14px;
    }
  }