.numero_letra_respuestas {
    color: #399bfc;
}

.botones_ayuda {
    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
}

.borrar, .activar {
    background-color: rgba(234, 229, 229, 0.909);
    color: black;
    border: 1px rgb(220, 214, 214) solid;
    padding: 0.3rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 5px auto;
    font-size: 14px;
    width: 48%;
  }
  
  .borrar:hover, .activar:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.715);
  }

  @media (max-width: 768px) {
 
    .borrar, .activar {
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.715)
    }

    .numero_letra_respuestas {
        font-size: 12px;
    }
  }